{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "none",
  "quoteProps": "preserve",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "singleQuote": true,
        "jsxSingleQuote": true,
        "singleAttributePerLine": true,
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}
