name: Auto Publish

on:
  push:
    tags:
      - "v*"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9.14.4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        working-directory: ./packages/search-box
        run: pnpm install --no-frozen-lockfile

      - name: Run Build search-box
        working-directory: ./packages/search-box
        run: pnpm build:all

      - name: Publish @opentiny/vue-search-box
        working-directory: ./packages/search-box
        run: pnpm publish:all
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Release
        if: contains(github.ref_name, 'alpha') == false
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
